extends layout

block content

	div.wrapper.ohonooo
		p.hellp Hello #{name}!
		span#yo This year, you are #{age} years of age!
		img.doc(src="dog.jpg" alt=`Dog ${doggy}`)

block footer
	p Seeing how this works....